{% extends "base.html" %}

{% block title %}Create new - Quest away{% endblock %}
{% block content %}
<!--Check for errors-->
{% if form.errors %}
<p>our question isn't valid</p>
{% endif %}

<form method="post" name="exam" action="{% load url from future %}">
    <table>
        <tr>
            <td>{{ exam.e_name.label_tag }}</td>
            <td>{{ exam.e_name }}</td>
        </tr>
        <tr>
            <td>{{ exam.e_author.label_tag }}</td>
            <td>{{ exam.e_author }}</td>
        </tr>
<tr>
            <td>{{ exam.e_course.label_tag }}</td>
            <td>{{ exam.e_course }}</td>
        </tr>
    </table>

    <input type="submit" name="createNew" value="Create" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
