{% extends "base.html" %}

{% block title %}Create new - Quest away{% endblock %}
{% block content %}
<!--Check for errors-->
{% if f.errors %}
<p>your question isn't valid</p>
{% endif %}

<form method="post" name="exam" action=".">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ fex.e_name.label_tag }}</td>
            <td>{{ fex.e_name }}</td>
        </tr>
        <tr>
            <td>{{ fex.e_author.label_tag }}</td>
            <td>{{ fex.e_author }}</td>
        </tr>
        <tr>
            <td>{{ fex.e_course.label_tag }}</td>
            <td>{{ fex.e_course }}</td>
        </tr>
        <tr>
            <td>{{ fex.e_datecreated.label_tag }}</td>
            <td>{{ fex.e_datecreated }}</td>
        </tr>
        <tr>
            <td>{{ fex.e_expire.label_tag }}</td>
            <td>{{ fex.e_expire }}</td>
        </tr>

    </table>

    <input type="submit" name="createNew" value="Create" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
