{% extends "base.html" %}
{% block title %}User dashboard{% endblock %}
{%block content %}

    {% if user.is_staff%}
<h1>You are now logged in as teacher, welcome {{user.first_name}}</h1>
<p>These are your created tests</p>
    <ul>
        {% for e in exams %}
            {% if e.e_author == user.username %}
            <li>{{e.e_name}}</li>
            {%endif%}
        {% endfor %}
        <a href="/create/">Create new exam</a>
        </ul>
    
    {% else %}
<p>Welcome {{ user.first_name }}.
    Here are your available tests:
    <ul>
        {% for e in exams %}
            <li>{{e.e_name}}</li>
        {% endfor %}
    </ul>
</p>

    {% endif %}

{% endblock %}
